{{ define "main" }}
<div class="container blog-section">
    <h1>Blog</h1>
    <div class="blog-list">
        {{ range .Pages.ByDate.Reverse }}
            <div class="blog-entry">
                <div class="blog-date">{{ .Date.Format "Jan 2, 2006" }}</div>
                <div class="blog-info">
                    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                    {{ if .Description }}
                        <p class="blog-desc">{{ .Description }}</p>
                    {{ else }}
                        <p class="blog-desc">{{ .Summary | plainify | truncate 160 }}</p>
                    {{ end }}
                </div>
            </div>
        {{ end }}
    </div>
</div>
{{ end }}
