{{ define "main" }}
<div class="container">
    <div class="splash">
        <div class="profile-image">
            <img src="/images/profile_updated.jpg" alt="Rodrigo Dorantes Gilardi">
        </div>
        <div class="splash-text">
            <h1>{{ .Params.heading }}</h1>
            <p class="subheading">{{ .Params.subheading }}</p>
            {{ if .Params.highlights }}
            <p class="splash-links">
                {{ range $i, $h := .Params.highlights }}{{ if $i }} | {{ end }}<span>{{ $h.content | markdownify }}</span>{{ end }}
            </p>
            {{ end }}
        </div>
    </div>

    <hr>

    <div class="content-section">
        {{ if .Params.introduction }}
        <div class="introduction">
            {{ .Params.introduction | markdownify }}
        </div>
        {{ end }}


    </div>
</div>
{{ end }}